@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'NeueMontreal';
  src: url('/Fonts/NeueMontreal-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'NeueMontreal';
  src: url('/Fonts/NeueMontreal-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'FoundersGrotesk';
  src: url('/Fonts/FoundersGrotesk-Semibold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'FoundersGrotesk';
  src: url('/Fonts/FoundersGrotesk-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}


html,
body {
  height: 100%;
  width: 100%;
}

[data-scroll-container] {
  will-change: transform;
}
