@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'NeueMontreal';
  src: url('/Fonts/NeueMontreal-Regular.woff2') format('woff2'),
       url('/Fonts/NeueMontreal-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'FoundersGrotesk';
  src: url('/Fonts/FoundersGrotesk-Semibold.woff2') format('woff2'),
       url('/Fonts/FoundersGrotesk-Semibold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}


html,
body {
  height: 100%;
  width: 100%;
  font-family: 'NeueMontreal', sans-serif;
}

[data-scroll-container] {
  will-change: transform;
}
